html 
    head 
        title Kopy.co Teams 
        link(rel='stylesheet', href='./stylesheets/css/bootstrap.min.css')
        link(rel='stylesheet', href='./stylesheets/css/style.css')
        h1 Membaca file JSON
    body 
        table.table.table-bordered
            thead
                    tr
                        th No
                        th Merk
                        th Seri
            tbody
            each row, index in datacars 
                tr
                    //- td #{index}
                    td #{row['Id']}
                    td #{row['Name']}
                    td #{row['Price']}
