html 
    head 
        title Form - Team Kopy co 
    body 
        form(action="", method = "POST")
            p Isi Brand
            input(type="text", name="dataBrand")
            p Isi Data Type
            input(type="text", name="dataType")
            p Isi Price
            input(type="text", name="dataPrice")
            p
            input(type="submit", value="Send")
            p 
            a(href="./view-form")
                button(type="button") View Table
