html 
    head 
        title Form - Team Kopy co 
    body 
        form(action="", method = "POST")
            p Brand
            input(type="text", name="dataBrand", value=data.brand)
            p Type
            input(type="text", name="dataType", value=data.model)
            p Price
            input(type="text", name="dataPrice", value=data.price)
            p
            input(type="submit", value="Send")
