doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Bootstrap 4, from LayoutIt!
        meta(name="description" content="Source code generated using layoutit.com")
        meta(name="author" content="LayoutIt!")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/css/style.css')
    body
        div.container-fluid
            div.row
                div.col-md-12
                    div.page-header
                        h1 HELLO WORLD!
                    div.jumbotron
                        h2 Kelompok PABW 7B2 Kopy.co
                        table
                            thead
                            tr
                                th #
                                th Nama Kelompok
                                th NIM
                            tbody
                            tr
                                td 1
                                td Angga Noviar Cipta Pahlevi
                                td 191080200019
                                td
                            tr
                                td 2
                                td Rina Safitri
                                td 191080200025
                                td
                            tr
                                td 3
                                td Firdaus Margo Utomo
                                td 191080200178
                                td
                            tr
                                td 
                                td 
                                td 
                                td
                            tr
                                td #
                                td Framework Pilihan
                                td Express.js(4)
                                td
                            tr
                                td #
                                td Alamat Repo
                                td https://github.com/kopyco/kopy.co.github.io.git
                                td
                        p
                        p 
                        p 
        script (type='text/javascript', src='/stylesheets/js/jquery.min.js')
        script (type='text/javascript', src='/stylesheets/js/bootstrap.min.js')
        script (type='text/javascript', src='/stylesheets/js/scripts.js')
