extends layout

block content
  h1= title
  h1 Welcome to #{title}
  h1 Hello World, by PABW 7B2 Kopy.co
  p Nama Kelompok : 
    li PABW 7B2 Kopy.co
  p Anggota Kelompok :
    li   191080200025 Rina Safitri
    li   191080200019 Angga Noviar Cipta Pahlevi
    li   191080200178 Firdaus Margo Utomo
  p  Framework Pilihan :
    li Express.js (4)
  p  Alamat Repo :
    li https://github.com/kopyco/kopy.co.github.io
  p Alamat Ngrok:
    li <a> https://9586-140-0-96-32.ap.ngrok.io
